<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Displaying All The Products</h1>

    <% for(let item of products) {%>
        <h2><%=item.name %></h2>
        <img src="<%=item.img%>" alt="" width="20%" height="20%">
        <h2><%=item.price %></h3>
        <p><%=item.desc%></p>
        <a href="/products/<%=item._id%>">Show This</a>
        <a href="/products/<%=item._id%>/edit">Edit This</a>
        <form action="/products/<%=item.id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    <% } %>
    
</body>
</html>